@model Car

<div class="col">
    <div class="card h-100">
        <img height="180" src="@(Model.ImageUrl ?? "https://thumbs.dreamstime.com/b/no-image-icon-vector-available-picture-symbol-isolated-white-background-suitable-user-interface-element-205805243.jpg")" class="card-img-top" alt="@Model.Mark">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-controller="Cars" asp-action="Details" asp-route-id="@Model.Id">@Model.Mark @Model.Model @Model.Year</a>
            </h5>
            <p class="card-text">
                <span class="price-title">@((int)Model.Price)$</span> | @Model.Mileage km
            </p>
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-primary buttonaddto">Add to Favourite</a>
        </div>
        @* <div class="card-footer">
            <small class="text-muted">
                Price: <span class="badge bg-success">@Model.Price$</span>
            </small>
        </div> *@
    </div>
</div>